.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  left: 650px;
  bottom: 570px;
  transition: opacity 0.2s;
}

.khan__buy-link:hover {
  opacity: 0.6;
}
